img{
	border 		: 0px;
};
a , a:hover { 
	text-decoration: none; 
};
body{
	& > header{
		$h 				: 45px;
		width 			: 100%;
		height 			: $h;  
		background 		: #3276b1; 
		padding 		: 0px 5%;
		.logo{
			height 		: $h;
			line-height : $h;  
			font-size 	: 25px; 
			color 		: #fff;
		};
	};

	& > article{
		& > aside{
			width 		: 15%; 
			height 		: 100%; 
			float 		: left; 
			overflow 	: auto; 
			background 	: #eee; 
			&.container{
				width 		: 85%; 
				border-left : 1px solid #ccc;
				background 	: #fff; 
			};

		};
	};
};